/* CSS Document */

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

/* NAVIGATIE BAR */

nav {
	background-color: black;
	height: 60px;
	width:100vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

nav button {
	/* Positionering */
	height: 2.2em;
	max-width: 7em;
	min-width: 5em;
	margin-top:1em;
	margin-left:3em;
    grid-column-start:2;
	

	/* styling */
	text-transform: uppercase;
	border:none;
	border-radius: 1em;
	background-color:white;
	font-family: 'Montserrat', sans-serif;
}

nav section::before {
	content: "";
	width:30px;
	height:30px;
	background-image: url(../images/viewmode-1.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;

	left:20px;
	top:14px;
}

nav section::after {
	content: "";
	width:30px;
	height:30px;
	background-image: url(../images/viewmode-2.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;

	left:80px;
	top:14px;
}
 

ul {
	margin:1em;
	padding:0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 360px 360px 360px 360px;
	grid-column-gap: 20px;
	grid-row-gap:20px;
}


/* styling movie display */
ul li {
	list-style: none;
	background-color:black;
	border-radius: .5em;
}

ul li:nth-of-type(1) {
}

ul li:nth-of-type(2) {
	background-color:pink;
}

ul li:nth-of-type(3) {
	background-color:blue;
}

ul li:nth-of-type(4) {

	background-color:red;
}


@media all and (max-width: 980px) {

	ul {
		margin:1em;
		padding:0;
	
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 330px 330px 330px 330px 330px;
		grid-column-gap: 20px;
		grid-row-gap:20px;
	}
}

@media all and (max-width: 700px) {

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 330px 330px 330px 330px 330px 330px 330px;
		grid-column-gap: 20px;
		grid-row-gap:20px;
	}

	nav button {
		/* Positionering */
		margin-left:7em;
	}

}

@media all and (max-width: 450px) {

	ul {
		display: grid;
		grid-template-columns: 1fr;
		/* kan ik hier ook een formule van maken? */
		grid-template-rows: 360px 360px 360px 360px 360px 360px 360px 360px 360px 360px 360px;
		grid-column-gap: 0;


		min-width: 250px;
	}

	nav button {
		/* Positionering */
		margin-left:7em;
	}
	
}