/* CSS Document */

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* Custom colors */
:root {
	--bright-red:#DB0000;
	--purple:#A15AFF;
}

body {
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	/* https://cssgradient.io/ */
	background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(150,143,137,1) 100%);
}

/* Dark-theme */
@media (prefers-color-scheme: dark) {

	body {
		/* https://cssgradient.io/ */
		background: rgb(120,117,117);
background: linear-gradient(0deg, rgba(120,117,117,1) 0%, rgba(0,0,0,1) 100%);
	}
}

img {
	width:100%;
	height:100%;
    object-fit: cover;
}

/* NAVIGATIE BAR */
nav {
	background-color: black;
	height: 60px;
	width:100vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* Button genres */
nav button:nth-of-type(1) {
	/* Positionering */
	height: 2.2em;
	max-width: 7em;
	min-width: 5em;
	margin-top:1em;
	margin-left:3em;
    grid-column-start:2;
	

	/* styling */
	text-transform: uppercase;
	border:none;
	border-radius: 1em;
	background-color:white;
	font-family: 'Montserrat', sans-serif;
}

/* Verschillende states button genres */
nav button:nth-of-type(1):hover, nav button:nth-of-type(1):focus, nav button:nth-of-type(1):active {
	background-color: var(--bright-red);
	color:white;
}

/* Button likes */
nav button:nth-of-type(2) {
	height:35px;
	width:35px;
    grid-column-start:3;

	margin-top:.7em;
	margin-left:3em;

	border-radius: 50%;
	border:none;
	background-color:white;
	background-image:url(../images/heart-black.svg);
	background-repeat: no-repeat;
    background-size: 60% 60%;
	background-position: center center;
}

/* Verschillende states button likes */
nav button:nth-of-type(2):hover, nav button:nth-of-type(2):focus, nav button:nth-of-type(2):active {
	background-color: var(--bright-red);
	/* verander naar wit hartje */
	background-image:url(../images/heart-white.png);
}

nav section {
	display: flex;
}

nav section img {
	width:28px;
    height:28px;
	margin-top:.8em;
	margin-left:1.5em;
}

/* FILMS DISPLAY - viewmode poster */
ul {
	margin:1em;
	padding:0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 360px 360px 360px;
	grid-column-gap: 2%;
	grid-row-gap:20px;
}

ul li {
	list-style: none;
	border-radius: .5em;
	position: relative;;
	overflow:hidden;
}

/* FILMS DISPLAY - viewmode list */
body.toonAlsList ul {
	grid-template-columns: 1fr;
	} 

/* STYLING movie display */
@keyframes movie-poster-hover {

	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.03);
	}
}

ul li:hover, ul li:focus {
	animation: movie-poster-hover .2s ease-out forwards;
}

/* BUTTON FILMS LIKEN */
ul li button {
	background-image: url(../images/heart-white.png);
	background-size: 20px 20px;
	position: absolute;
	top: 100px;
	z-index:100;
}

@media all and (min-width: 1080px) {

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: repeat( 3, minmax(430px, 1fr) );
		grid-column-gap: 20px;
		grid-row-gap:20px;
	}
}

@media all and (max-width: 980px) {

	ul {
		margin:1em;
		padding:0;
	
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat( 4, minmax(370px, 1fr) );
		grid-template-rows: 370px 370px 370px 370px;
		grid-column-gap: 20px;
		grid-row-gap:20px;
	}
}

@media all and (max-width: 700px) {

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat( 5, minmax(350px, 1fr) );
		grid-column-gap: 20px;
		grid-row-gap:20px;
	}

	nav button {
		/* Positionering */
		margin-left:7em;
		margin-top:1.3em;

		/* knop groote en plaatsing */
		min-width: 5.5em;

		font-size: .7em;
	}

}

@media all and (max-width: 450px) {

	ul {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat( 12, minmax(450px, 1fr) );
		grid-column-gap: 0;

		min-width: 250px;
	}

	nav button {
		/* Positionering */
		margin-left:5em;
		margin-top:1.3em;

		/* knop groote en plaatsing */
		min-width: 5.5em;

		font-size: .7em;
	}
}